# Data Collection and Processing
yfinance
pandas
numpy

# Machine Learning Models
scikit-learn
statsmodels

# Deep Learning
tensorflow>=2.13.0

# Visualization
matplotlib
seaborn
plotly

# Streamlit Dashboard
streamlit

# Utilities
joblib
python-dateutil 